name: CI - Create Release and Publish
on:
  push:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up JDK 11
      uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: '11'
    - name: Semantic Version
      id: version
      uses: paulhatch/semantic-version@v5.3.0
      with:
        tag_prefix: ""
        major_pattern: /feat?/
        minor_pattern: /fix?/
        format: "${major}.${minor}.${patch}"
        bump_each_commit: false
    - name: Update version in pom.xml (Release only)
      run: |
        mvn -B versions:set -DnewVersion=${{ steps.version.outputs.version }} -DgenerateBackupPoms=false -Dregistry=https://maven.pkg.github.com/dishantkamble -Dtoken=$GH_TOKEN --file pom.xml
        git config user.email "dishantk@gmail.com"
        git config user.name "Dishant Kamble"
        git add .
        git commit -m "Bump Version - maven"
        git push
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Create changelog text
      id: changelog
      uses: mikepenz/release-changelog-builder-action@v4.1.1
      with:
        configuration: "changelog_config.json"
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: Build with Maven
      run: mvn -B package --file pom.xml install -Dtoken=$GH_TOKEN
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Publish to GitHub Packages Apache Maven
      run: mvn -B deploy -Dregistry=https://maven.pkg.github.com/dishantkamble -Dtoken=$GH_TOKEN
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Create Release
      uses: ncipollo/release-action@v1.13.0
      with:
        tag: ${{ steps.version.outputs.version }}
        body: ${{ steps.changelog.outputs.changelog}}
        generateReleaseNotes: true
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
